celeste=#C5F4FF
azul=#091B25
sombra=#2C3D46
blanco=#FFFFFF
gris=#8E9294
azul-oscuro=#02121F
azul-marino=#020913
fondo-marillo=#FFB300
sombra-amarilla=#FF6B00
fondo-celeste=#00A2CB
sombra-celeste=#005678
fondo-ctu=rgba(2, 18, 31,0.3)

a 
	text-decoration none
	margin 0
	padding 0
article
ul
li
figure
img
span
p
section
div
	margin 0
	padding 0
body
	background-image url("../img/fondo.jpg")

header
	width 100%	
	height 85px
.container
	max-width 960px
	min-width 260px
	margin 0 auto
	
header
	.container
		background-image url("../img/linea-header.png")
		height 85px
		overflow hidden
		.logo
			float left
			margin-top 20px
		.menu
			position relative
			float right 
			margin-top 27px
			.list
				display inline-block
				font-size
				.item
					display inline-block
					padding-left 10px
					padding-right 10px
					margin-left 15px
					a
						color celeste
						font-size 10px
						line-height 30px
						
					&:hover
						background azul
						border-radius 5px
						border-bottom solid 2px sombra 
						height 30px			
.cont-main
	width 1100px
	margin 0 auto
	height 646px
	margin-top 35px
section
	.section2
		background-image url("../img/slider.png")
		height 438px
		//overflow hidden
		
		.slider
			margin 0
			padding-top 22px
			.bxslider
				margin 0
				padding 0
				li
					display block
					.panels
						//display inline-block
						width 960px
						height 340px
						//margin-top 20px
						//padding-top 25px
						overflow hidden	
						.panel
							lis
							display inline-block
							float left
							font-size 0
							width 289px
							//margin-left 36px
							margin-left 30px	
							figure
								margin-bottom 32px
							.title
								font-size 14px
								color blanco
								margin-top 32px
							.texto
								font-size 14px
								color gris
								margin-top 18px
section
	.section3
		height 185px
		width 100%
		position relative
		overflow hidden
		.box
			float left
			margin-top 44px
			height 96px
			background azul-oscuro
			border-radius 5px
			border-bottom solid 2px sombra
			width 960px
			.logo
				float left
				margin-left 35px
				margin-top 24px	
			.ctu 
				float right
				margin-top 22px	
				.texto
					font-size 14px
					color blanco
					float left	
					line-height 48px
					margin 0 15px
				.dowload
					background fondo-celeste
					border-bottom solid 3px sombra-celeste
					color blanco
					text-align center
					height 48px
					width 130px
					float left	
					border-radius 6px
					line-height 48px					
				.buy
					background fondo-marillo
					border-bottom solid 3px sombra-amarilla
					color blanco
					text-align center
					height 48px
					width 130px
					float left	
					border-radius 6px
					line-height 48px
					margin-right 22px		
footer
	background azul-oscuro
	height 364px
	.container
		.menu
			position relative
			float right 
			margin-top 27px
			.list
				display inline-block
				font-size
				.item
					display inline-block
					padding-left 10px
					padding-right 10px
					margin-left 15px
					a
						color celeste
						font-size 10px
						line-height 30px
					&:hover
						background azul-marino
						border-radius 5px
						border-bottom solid 2px sombra 
						height 30px	
		